body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header{
    margin-top: 29px;
}

.wrapper{
    max-width: 1300px;
    /* max-width: 1420px; */
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.header li{
    margin-left: 20px;
}

.header li a{
    text-decoration: none;
    font-size: 18px;
    color: #0a0909;
    font-weight: 700;
    font-family: "Montserrat";
}

.header li a:hover{
    color: #e87e7e;
    transition: 0.4s;
}

.pointer{
    cursor: pointer;
}

.bar {
    content: "";
    position: absolute;
    width: 3px;
    height: 14rem;
    border-radius: 2rem;
    background-color: #f79b9b;
}

.first-block{
    margin-top: 10rem;
}

.second-block{
    margin-top: 25rem;
    display: flex;
}

.third-block{
    margin-top: 10rem;
}

.four-block{
    margin-top: 10rem;
}

.about-me-h2{
    font-size: 48px;
    color: #000000;
    font-weight: 800;
    font-family: "Montserrat";
    margin: 0;
}

.about-me-list{
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    list-style-type: none;
    padding-bottom: 40px;
}

.about-me-list:before{
    content: url(../img/paintbrush.png);
    position: relative;
    right: 1rem;
}

.first-list-text{
    margin-left: 30px;
}

#red{
    color: #e87e7e;
}

.social{
    top: 16rem;
    position: relative;
}

.social a{
    display: block;
    height: 5px;
    width: 20px;
    position: relative;
    margin-bottom: 40px;
    left: -0.3rem;
}

.inst::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: url(../img/instagram.svg);
}

.inst:hover::before{
    transform: scale(1.4);
}

.pienkny-zag::after{
    content: url(../img/penz.png);
    position: absolute;
    top: 24.2rem;
}

.fb:before{
    content: "";
    position: absolute;
    width: 9px;
    height: 14px;
    background: url(../img/facebook.png);
}

.fb:hover::before{
    transform: scale(1.4 );
}

.p:before{
    content: "";
    position: absolute;
    width: 12px;
    height: 14px;
    background: url(../img/pinterest\ \(1\).png);
}

.p:hover::before{
    transform: scale(1.4);
}

.tg:before{
    content: "";
    position: absolute;
    width: 15px;
    height: 13px;
    background: url(../img/telegram.svg);
}

.tg:hover::before{
    transform: scale(1.4);
}

.top{
    top: 43rem;
}

h1{
    font-size: 48px;
    color: #000000;
    font-weight: 800;
    font-family: "Montserrat";
}

.text-first{
    width: 570px;
    height: 108px;
    font-size: 24px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
}

.fir-but-lis{
    width: 400px;
    height: 80px;
    border-radius: 40px;
    filter: drop-shadow(0px 1px 49px rgba(234,131,131,0.34));
    background-image: linear-gradient(0deg, #e77d7d 0%, #f89e9e 99%, #f89e9e 100%);
    font-size: 24px;
    color: #000000;
    font-weight: 800;
    font-family: "Montserrat";
    filter: drop-shadow(0px 2px 3px rgba(0,0,0,0.42));
    border: none;
}

.truk{
    padding-left: 9px;
}

.sec-but-lis{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    filter: drop-shadow(0px 1px 19px rgba(234,131,131,0.54));
    background-image: linear-gradient(0deg, #e77d7d 0%, #f89e9e 99%, #f89e9e 100%);
    margin-left: 60px;
    border: none;
}

.sec-but-lis:hover::before{
    content: url(../img/video-about-me.png);
    position: absolute;
    top: -4.2rem;
    left: 3.5rem;
}

.button{
    display: flex;
    margin-top: 65px;
}

.girl-image{
    position: absolute;
    width: 52.7rem;
    min-height: 50rem;
    background: url(../img/beautiful-girl.jpg);
    -webkit-mask-image: url(../img/mask-bg.svg);
    mask-image: url(../img/mask-bg.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    right: 2rem;
    top: 6rem;
    z-index: -1;
}

.bg1{
    position: absolute;
    width: 48.7rem;
    min-height: 39rem;
    background: url(../img/header-max-width-1580px-bg.svg);
    right: 6rem;
    top: 5rem;
    z-index: -1;
}

.buble-main-big {
    top: 12%;
    right: 5%;
    width: 70px;
    height: 78px;
}

.buble-main-large-scroll {
    width: 27px;
    height: 34px;
    top: 48.5%;
    left: 5%;
}

.buble-main-midle-scroll {
    width: 25px;
    height: 26px;
    top: 48.5%;
    right: 10%;
}

.scrollbar {
    overflow-x: scroll;
}

.scroll h2 {
    text-align: center;
    font-size: 48px;
    color: #000;
    font-weight: 800;
    font-family: "Montserrat";
}

.h{
    font-size: 48px;
    color: #000;
    font-weight: 800;
    font-family: "Montserrat";
    padding-left: 7rem;
    margin-bottom: 0;
}

.scroll-img {
    position: relative;
    width: 126%;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.first-img, .hidden-img {
    background: url(../img/tiger.svg);
    background-position: -70px -45px;
}

.second-horizontal {
    background: url(../img/fall.svg)no-repeat;
}

.first-horizontal {
    background: url(../img/palm.svg)no-repeat;
}
.four-img {
    background: url(../img/screem.svg);
    background-position: -90px -55px;
}

.first-img, .four-img, .hidden-img {
    position: relative;
    margin: 75px 0 0;
    width: 433px;
    height: 650px;
    border-radius: 25px;
}

.first-horizontal, .second-horizontal {
    position: relative;
    padding-bottom: 35px;
    width: 610px;
    height: 363px;
}

.bg2{
    position: absolute;
    width: 51.6rem;
    min-height: 39rem;
    background: url(../img/female-artist-painting-on-canvas-with-an-easel_163305-25589.svg);
    top: 195rem;
    z-index: -1;
}

.g{
    padding-right: 4rem;
}

.odno-u-toge{
    font-size: 30px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: right;
}